.App-main-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 31px;
}

.App-buttons {
    width: calc(100% - 150px);
}

.closed-button {
    width: 100%;
    height: 47px;
    border: none;
    border-radius: 5px;
    background-color: #FF6060;
    margin-bottom: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.closed-button:hover {
    cursor: pointer;
}

.closed-button p {
    color: #FFF;
    font-size: 24px;
    margin: 0px 0px 0px 18px;
}

.closed-button svg {
    margin: 0px 18px;
}

.closed-button svg {
    cursor: pointer;
}

.icon::after {
    transform: rotateX(180deg);
}


.button-texte-down {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    background-color: #F6F6F6;
    margin-top: -38px;
    margin-bottom: 31px;
    position: relative;
    z-index: -1;
}


.button-texte-down p {
    color: #FF6060;
    font-size: 24px;
    font-weight: 400;
    padding: 25px 0px 0px 25px;
}

.button-texte-down ul {
    padding: 25px 0px 0px 25px;
}

.button-texte-down li {
    color: #FF6060;
    font-size: 24px;
    font-weight: 400;
    list-style: none;
    
}

@media (max-width: 600px) {
    .App-main-photo img {
        border-radius: 10px;
    }

    .App-main-buttons {
        margin-bottom: 55px;
    }

    .App-buttons {
        width: 100%;
    }

    .closed-button {
        height: 30px;
    }

    .closed-button p {
        font-size: 13px;
    }

    .closed-button svg {
        width: 17px;
        height: 17px;
    }

    .button-texte-down {
        height: 170px;
    }

    .button-texte-down p {
        font-size: 12px;
        padding: 20px 20px 20px 20px;
        width: 85%;
        line-height: 17px;
    }

    .button-texte-down li {
        font-size: 12px;
        width: 85%;
    }
}