
.App-footer {
    position: absolute;
    margin-bottom: 0;
    background-color: #000;
    width: 100%;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.App-footer h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

@media (max-width: 600px) {
    .App-footer h3 {
        font-size: 16px;
    }

    .App-footer {
        margin-top: 0;
    }
}